<?xml version="1.0"?>
<loggingConfiguration>
  <settings>
    <add key="loglevel.default" value="2"></add>
    <add key="loglevel.databaseerror" value="2"></add>
    <add key="loglevel.dataAccesseayererror" value="2"></add>
    <add key="loglevel.databasevalidation" value="2"></add>
    <add key="loglevel.businesslayererror" value="2"></add>
    <add key="loglevel.webservicelayererror" value="2"></add>    
    <add key="loglevel.logwritererror" value="2"></add>
    
    <!--By default, business layer validation logging is turned off.  You may turn it off by providing a valid value below.-->
    <add key="loglevel.businesslayervalidation" value="-1"></add>
    
    <add key="LogName" value="CWF"></add>    
    <add key="LogWriter" value="Microsoft.Support.Workflow.Service.Common.Logging.EventLogWriter,QueryService.Common"></add>
  </settings>  
</loggingConfiguration>