<?xml version="1.0"?>
<userErrorConfiguration>
  <errors>
    <!--Possible values for faultType = ServiceFault|ValidationFault|PublishingFault-->
    <!--Database Errors-->
    <add errorCode="50000" userMessage="An error occured during data access." faultType="ServiceFault"></add>
    <add errorCode="50500" userMessage="A valid matching activity category was not found to perform an update." faultType="ServiceFault"></add>
    <add errorCode="50501" userMessage="A valid matching auth group name was not found to perform an update." faultType="ServiceFault"></add>
    <add errorCode="50502" userMessage="A valid matching workflow type was not found to perform an update." faultType="ServiceFault"></add>
    <add errorCode="50503" userMessage="A valid matching status code was not found to perform an update." faultType="ServiceFault"></add>
    <add errorCode="50504" userMessage="A valid matching icon was not found to perform an update." faultType="ServiceFault"></add>
    <add errorCode="50505" userMessage="A valid matching store activity was not found to perform an update." faultType="ServiceFault"></add>
    <add errorCode="50506" userMessage="A valid matching toolbox tab was not found to perform an update." faultType="ServiceFault"></add>
    <add errorCode="50507" userMessage="A valid matching activity library was not found to perform an update." faultType="ServiceFault"></add>

    <!--Business Layer Errors - Publishing-->
    <add errorCode="52000" userMessage="Workflow to publish was not found by name and version." faultType="PublishingFault"></add>
    <add errorCode="52001" userMessage="Workflow XAML to publish was not found by activity name and version." faultType="PublishingFault"></add>
    <add errorCode="52002" userMessage="Publishing workflow XAML was not found by name and version of the workflow to publish." faultType="PublishingFault"></add>

    <!--Business Layer Validations - General Common Input Validations-->
    <add errorCode="52500" userMessage="Request object reference is not set to an instance of an object." faultType="ValidationFault"></add>
    <add errorCode="52501" userMessage="Caller name is required." faultType="ValidationFault"></add>
    <add errorCode="52502" userMessage="Caller version is required." faultType="ValidationFault"></add>

    <!--Business Layer Validations - Activity Category Input Validations-->
    <add errorCode="52520" userMessage="Invalid activity category ID.  Please provide a positive number." faultType="ValidationFault"></add>
    <add errorCode="52521" userMessage="Activity category GUID is required.  Please provide a non-empty GUID." faultType="ValidationFault"></add>
    <add errorCode="52522" userMessage="Created by user name is required." faultType="ValidationFault"></add>
    <add errorCode="52523" userMessage="Activity category description is required." faultType="ValidationFault"></add>
    <add errorCode="52524" userMessage="Activity category name is required." faultType="ValidationFault"></add>
    <add errorCode="52525" userMessage="Activity category meta tags value is required." faultType="ValidationFault"></add>
    <add errorCode="52526" userMessage="Activity cateogyr auth group name is required." faultType="ValidationFault"></add>
    <add errorCode="52527" userMessage="Activity category updated by user is required." faultType="ValidationFault"></add>

    <!--Business Layer Validations - Store Activity Input Validations-->
    <add errorCode="52540" userMessage="Store activity name is required." faultType="ValidationFault"></add>
    <add errorCode="52541" userMessage="Store activity GUID is required.  Please provide a non-empty GUID." faultType="ValidationFault"></add>
    <add errorCode="52542" userMessage="Store activity updated by user is required." faultType="ValidationFault"></add>
    <add errorCode="52543" userMessage="Store activity short name is required." faultType="ValidationFault"></add>
    <add errorCode="52544" userMessage="Store activity description is required." faultType="ValidationFault"></add>
    <add errorCode="52545" userMessage="Store activity meta tags value is required." faultType="ValidationFault"></add>
    <add errorCode="52546" userMessage="Store activity 'is switch' value is required." faultType="ValidationFault"></add>
    <add errorCode="52547" userMessage="Store activity 'is service' value is required." faultType="ValidationFault"></add>
    <add errorCode="52548" userMessage="Store activity 'is UX activity' value is required." faultType="ValidationFault"></add>
    <add errorCode="52549" userMessage="Store activity default render value is required." faultType="ValidationFault"></add>
    <add errorCode="52550" userMessage="Store activity category is required." faultType="ValidationFault"></add>
    <add errorCode="52551" userMessage="Store activity toolbox name is required." faultType="ValidationFault"></add>
    <add errorCode="52552" userMessage="Store activity 'is toolbox activity' value is required." faultType="ValidationFault"></add>
    <add errorCode="52553" userMessage="Store activity version is required." faultType="ValidationFault"></add>
    <add errorCode="52554" userMessage="Store activity created by user name is required." faultType="ValidationFault"></add>
    <add errorCode="52555" userMessage="Store activity auth group name is required." faultType="ValidationFault"></add>

    <!--Business Layer Validations - Activity Library Input Validations-->
    <add errorCode="52560" userMessage="Activity library created by user name is required." faultType="ValidationFault"></add>
    <add errorCode="52561" userMessage="Activity library updated by user name is required." faultType="ValidationFault"></add>
    <add errorCode="52562" userMessage="Activity library GUID is required." faultType="ValidationFault"></add>
    <add errorCode="52563" userMessage="Activity library name is required." faultType="ValidationFault"></add>
    <add errorCode="52564" userMessage="Activity library version is required." faultType="ValidationFault"></add>
    <add errorCode="52565" userMessage="Activity library auth group name is required." faultType="ValidationFault"></add>

    <!--Business Layer Validations - Activity Library Dependency Input Validations-->
    <add errorCode="52580" userMessage="Activity library dependency created by user name is required." faultType="ValidationFault"></add>
    <add errorCode="52581" userMessage="Activity library dependency updated by user name is required." faultType="ValidationFault"></add>
    <add errorCode="52582" userMessage="Activity library dependency recursive was loop detected." faultType="ValidationFault"></add>
    <add errorCode="52583" userMessage="List of activity libraries is required." faultType="ValidationFault"></add>
    
    <!--Business Layer Validations - Workflow Type Input Validations-->
    <add errorCode="52600" userMessage="Workflow type name is required." faultType="ValidationFault"></add>

    <!--Web Service Layer Errors-->
    <add errorCode="53000" userMessage="An error occurred.  Please contact workflow marketplace service system administrator for assistance." faultType="ServiceFault"></add>
    <add errorCode="53001" userMessage="An error occurred.  Please contact workflow marketplace service system administrator for assistance." faultType="ServiceFault"></add>
  </errors>
</userErrorConfiguration>