<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="loggingConfiguration" type="Microsoft.Support.Workflow.Service.Common.Logging.Config.LogSettingConfigSection,QueryService.Common" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true"/>
    <section name="errorCodeEventCategoryConfiguration" type="Microsoft.Support.Workflow.Service.Common.Logging.Config.ErrorCodeConfigSection,QueryService.Common" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true"/>
  </configSections>
  <loggingConfiguration configSource="LogSetting.config"/>
  <errorCodeEventCategoryConfiguration configSource=".\Config\ErrorCodeMapping.config"/>
  <dataConfiguration defaultDatabase="ApplicationDbConnection"/>
  <connectionStrings>
    <add name="ApplicationDbConnection" connectionString="Data Source=vm-cwf;Initial Catalog=CommonWorkflowAssetStoreDev;Integrated Security=True;Min Pool Size=10;Connection Lifetime=1200;Connect Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>