<errorCodeEventCategoryConfiguration>
    <errorCodes>
      <!--Possible values for severity=error|warning|information|successaudit|failureaudit-->
      <!--Possible values for eventcategory=Administrative|Operational|Analytic|Debug|ApiUsage|None-->
      <add errorCode="52500" severity="error" eventCategory="Analytic" />
      <add errorCode="52501" severity="error" eventCategory="Analytic" />
      <add errorCode="52502" severity="error" eventCategory="Analytic" />

      <!--Business Layer Validations - Activity Category Input Validations-->
      <add errorCode="52520" severity="error" eventCategory="Analytic" />
      <add errorCode="52521" severity="error" eventCategory="Analytic" />
      <add errorCode="52522" severity="error" eventCategory="Analytic" />
      <add errorCode="52523" severity="error" eventCategory="Analytic" />
      <add errorCode="52524" severity="error" eventCategory="Analytic" />
      <add errorCode="52525" severity="error" eventCategory="Analytic" />
      <add errorCode="52526" severity="error" eventCategory="Analytic" />
      <add errorCode="52527" severity="error" eventCategory="Analytic" />

      <!--Business Layer Validations - Store Activity Input Validations-->
      <add errorCode="52540" severity="error" eventCategory="Analytic" />
      <add errorCode="52541" severity="error" eventCategory="Analytic" />
      <add errorCode="52542" severity="error" eventCategory="Analytic" />
      <add errorCode="52543" severity="error" eventCategory="Analytic" />
      <add errorCode="52544" severity="error" eventCategory="Analytic" />
      <add errorCode="52545" severity="error" eventCategory="Analytic" />
      <add errorCode="52546" severity="error" eventCategory="Analytic" />
      <add errorCode="52547" severity="error" eventCategory="Analytic" />
      <add errorCode="52548" severity="error" eventCategory="Analytic" />
      <add errorCode="52549" severity="error" eventCategory="Analytic" />
      <add errorCode="52550" severity="error" eventCategory="Analytic" />
      <add errorCode="52551" severity="error" eventCategory="Analytic" />
      <add errorCode="52552" severity="error" eventCategory="Analytic" />
      <add errorCode="52553" severity="error" eventCategory="Analytic" />
      <add errorCode="52554" severity="error" eventCategory="Analytic" />
      <add errorCode="52555" severity="error" eventCategory="Analytic" />

      <!--Business Layer Validations - Activity Library Input Validations-->
      <add errorCode="52560" severity="error" eventCategory="Analytic" />
      <add errorCode="52561" severity="error" eventCategory="Analytic" />
      <add errorCode="52562" severity="error" eventCategory="Analytic" />
      <add errorCode="52563" severity="error" eventCategory="Analytic" />
      <add errorCode="52564" severity="error" eventCategory="Analytic" />
      <add errorCode="52565" severity="error" eventCategory="Analytic" />

      <!--Business Layer Validations - Activity Library Dependency Input Validations-->
      <add errorCode="52580" severity="error" eventCategory="Analytic" />
      <add errorCode="52581" severity="error" eventCategory="Analytic" />
      <add errorCode="52582" severity="error" eventCategory="Analytic" />

      <!--Business Layer Validations - Workflow Type Input Validations-->
      <add errorCode="52600" severity="error" eventCategory="Analytic" />
    </errorCodes>
</errorCodeEventCategoryConfiguration>
