<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="userErrorConfiguration" type="CWF.WorkflowQueryService.UserError.Config.UserErrorConfigSection,CWF.WorkflowQueryService" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true"/>
    <section name="loggingConfiguration" type="Microsoft.Support.Workflow.Service.Common.Logging.Config.LogSettingConfigSection,QueryService.Common" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true"/>
    <section name="errorCodeEventCategoryConfiguration" type="Microsoft.Support.Workflow.Service.Common.Logging.Config.ErrorCodeEventCategoryConfigSection,QueryService.Common" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true"/>
  </configSections>
  <dataConfiguration defaultDatabase="ApplicationDbConnection"/>
  <userErrorConfiguration configSource=".\Config\UserError.config"/>
  <loggingConfiguration configSource=".\Config\LogSetting.config"/>
  <errorCodeEventCategoryConfiguration configSource=".\Config\ErrorCodeMapping.config"/>
  <connectionStrings>
    <!-- 
    Database mirroring If you connect with ADO.NET or the SQL Native Client to a database that is being mirrored, your application can take advantage of the drivers ability to automatically redirect 
    connections when a database mirroring failover occurs. You must specify the initial principal server and database in the connection string and the failover partner server.
    Data Source=myServerAddress;Failover Partner=myMirrorServerAddress;Initial Catalog=myDataBase;Integrated Security=True;
    -->
    <add name="ApplicationDbConnection" connectionString="Data Source=vmm-bobo;Initial Catalog=SingleDB;Integrated Security=False;User Id=sa;Password=User@123;Min Pool Size=10;Connection Lifetime=1200;Connect Timeout=30;"
      providerName="System.Data.SqlClient" />
  </connectionStrings >
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <identity impersonate="false"/>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="serviceMessageInspector" type="CWF.WorkflowQueryService.Authentication.AuthenticationHeaderBehavior, CWF.WorkflowQueryService"/>
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWorkflowsQueryService" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6016384" maxBufferPoolSize="6016384" maxReceivedMessageSize="6016384" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="6016384" maxArrayLength="6016384" maxBytesPerRead="6016384" maxNameTableCharCount="16384"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <!-- upgrade this to WSHttpBinding as security is improved -->
      <service name="CWF.WorkflowQueryService.WorkflowQueryService" behaviorConfiguration="WorkflowsServiceBehavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkflowsQueryService" behaviorConfiguration="customInspectors" contract="CWF.WorkflowQueryService.IWorkflowsQueryService"/>
        <!--<endpoint contract="IMetadataExchange" 
                  binding="mexHttpBinding" 
                  address="mex" />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WorkflowsServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--<serviceAuthorization principalPermissionMode="UseWindowsGroups"></serviceAuthorization>-->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="customInspectors">
          <serviceMessageInspector/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false"/>
  </system.webServer>
  <appSettings>
    <add key="TenantName" value="Test"/>
    <add key="CommandTimeout" value="60"/>
  </appSettings>
</configuration>