<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Microsoft.Support.Workflow.Catalog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0" maxBufferSize="965536" maxReceivedMessageSize="965536">
          <readerQuotas maxStringContentLength="965536" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Microsoft.Support.Workflow.Workflows">
        <endpoint address="cwfbind" binding="basicHttpBinding" bindingConfiguration="NewBinding0" contract="Microsoft.Support.Workflow.IWorkflows" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <!--  <add name="CWFDummyDataSourceEntities" connectionString="metadata=res://*/Workflows.csdl|res://*/Workflows.ssdl|res://*/Workflows.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=V-EVSMIT1;Initial Catalog=CWFDummyDataSource;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /> -->
    <add name="CWFDummyDataSourceEntities" connectionString="metadata=res://*/Workflows.csdl|res://*/Workflows.ssdl|res://*/Workflows.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=pqocwfddb02;Initial Catalog=PrototypeAssetStore;User ID=cwfserviceuserid;Password=cwfpass2010!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="WorkFlowServiceData" connectionString="metadata=res://*/Workflows.csdl|res://*/Workflows.ssdl|res://*/Workflows.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=V-EVSMIT1;Initial Catalog=CWFDummyDataSource;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <applicationSettings>
    <Microsoft.Support.Workflow.Catalog.Properties.Settings>
      <setting name="DllPath2" serializeAs="String">
        <value>D:\CWFS\WorkflowCatalog\</value>
      </setting>
      <setting name="DllPath" serializeAs="String">
        <value>D:\CWFS\WorkflowCatalog\</value>
      </setting>
    </Microsoft.Support.Workflow.Catalog.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <trace>
      <listeners></listeners>
    </trace>
  </system.diagnostics>
</configuration>