<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="DownloadDependencies" value="true"></add>
        <add key="OpenForEditing" value="true"></add>
        <add key="Env" value="dev"></add>
        <add key="SearchWholeWorkflow" value="True"></add>
        <add key="EnableTaskAssignment" value="False"></add>
        <add key="DefaultCategory" value="Business"></add>

        <add key="ContentDirectoryPath" value=".\ContentDirectory.xml"/>
        <add key="DeleteCacheOnStartup" value="1"/>
        <add key="DatabaseServer" value="localhost"/>
        <add key="DatabaseName" value="CommonWorkflowAssetStore"/>
        <add key="DatabaseUserName" value="sa"/>
        <add key="DatabasePassword" value="Hs123456"/>
        <add key="ApplicationDbConnection" value="Data Source=localhost;Initial Catalog=CommonWorkflowAssetStore;Integrated Security=False;User ID=sa;Password=Hs123456;Min Pool Size=10;Connection Lifetime=1200;Connect Timeout=30;"/>
        <add key="RowsPerPage" value="15"/>
        <add key="ClientSettingsProvider.ServiceUri" value=""/>
        <add key="IncludeImportLibrariesInIntellisense" value="true"/>
        <add key="AssetStoreFriendlyName" value="PPE"/>
        <add key="domain" value="redmond.corp.microsoft.com"/>
    </appSettings>
    <runtime>
        <loadFromRemoteSources enabled="true"/>
    </runtime>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWorkflowsQueryService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6016384" maxBufferPoolSize="6016384" maxReceivedMessageSize="6016384" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="6016384" maxArrayLength="6016384" maxBytesPerRead="6016384" maxNameTableCharCount="6016384"/>
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vm-cwf/WorkflowQueryServiceOASP5/WorkflowsQueryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkflowsQueryService" contract="IWorkflowsQueryService" name="BasicHttpBinding_IWorkflowsQueryService"/>
        </client>
    </system.serviceModel>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
            </providers>
        </roleManager>
    </system.web>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
