<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Support.Workflow.Service.Common.Logging.Config.LogSettingConfigSection,QueryService.Common" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true"/>
  </configSections>
  <loggingConfiguration configSource="LogSetting.config"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
